:root {
  font-family:
    "Noto Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color-default);
  background-color: var(--background-color-default);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
}

:root {
  --global-header-height: 84px;

  --background-color-default: var(--dark-gray);

  --text-color-default: rgb(237, 228, 215);
  --text-color-muted: rgb(236, 224, 190);

  --border-color-default: var(--light-gray);

  /* Colors */
  --white: rgb(255, 255, 255);
  --light-gray: rgb(56, 55, 55);
  --gray: rgb(24, 24, 24);
  --dark-gray: rgb(19, 19, 19);
  --black: rgb(0, 0, 0);

  --light-blue: rgb(41, 153, 173);
  --blue: rgb(17, 50, 56);
  --dark-blue: rgb(11, 32, 39);

  --purple: rgb(46, 17, 56);
  --dark-purple: rgb(31, 11, 39);

  --green: rgb(25, 56, 17);
  --dark-green: rgb(15, 39, 11);

  --orange: rgb(56, 38, 17);
  --dark-orange: rgb(39, 24, 11);

  /* Sizing */
  --sizing-1: 2px;
  --sizing-2: 4px;
  --sizing-3: 8px;
  --sizing-4: 12px;
  --sizing-5: 16px;
  --sizing-6: 24px;
  --sizing-7: 32px;
  --sizing-8: 48px;
  --sizing-9: 56px;
}
